* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container__father01 {
  position: relative;
  height: 12093px;
  width: 1920px;
  background: #0C0B08;
  margin: 10px auto;
  overflow: hidden;
  background-image: url(../img/body.png);
  background-repeat: no-repeat;
  background-position: left -1049px, top 1110.5px;
}

.header {
  width: 1920px;
  height: 1144px;
}

.header__block {
  width: 1920px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__block .header__title {
  width: 550px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Cormorant Upright";
  font-weight: 700;
  font-size: 34px;
  line-height: 130%;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}
.header__block .header__right__block {
  width: 1200px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__block .header__right__block .header__right__box1 {
  width: 50%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header__block .header__right__block .header__right__box1 ul {
  width: 400px;
  height: 100px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header__block .header__right__block .header__right__box1 ul .header__right__item {
  cursor: pointer;
  width: 48px;
  height: 28px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
  display: flex;
  transition: all ease 0.8s;
}
.header__block .header__right__block .header__right__box1 ul .header__right__item:hover {
  transition: all ease 0.8s;
  color: aqua;
}
.header__block .header__right__block .header__right__box2 {
  width: 45%;
  height: 150px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__block .header__right__block .header__right__box2 ul {
  width: 400px;
  cursor: pointer;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__block .header__right__block .header__right__box2 ul .header__left__item {
  font-family: "Open Sans";
  font-weight: 600;
  font-size: 18px;
  text-transform: capitalize;
  color: #ffffff;
  cursor: pointer;
  display: flex;
}
.header__block .header__right__block .header__right__box2 ul .header__left__item:hover {
  transition: all ease 0.8s;
  color: aqua;
}

.img:hover {
  transform: scale(1.1);
  transition: all ease 0.8s;
}

.cont__hero {
  width: 1320px;
  height: 800px;
  margin: 20px auto;
}
.cont__hero .hero__box {
  float: left;
  width: 500px;
  height: 600px;
  margin: 90px 70px;
}
.cont__hero .hero__box .hero__text1 {
  width: 331px;
  height: 30px;
  font-family: "Cormorant Upright";
  font-weight: 700;
  font-size: 23px;
  text-transform: capitalize;
  color: #ffffff;
  margin: 10px 20px;
}
.cont__hero .hero__box h1 {
  width: 453px;
  margin: 10px 20px;
  height: 234px;
  font-family: "Cormorant Upright";
  font-weight: 700;
  font-size: 90px;
  text-transform: capitalize;
  color: #dcca87;
}
.cont__hero .hero__box .hero__text2 {
  width: 453px;
  height: 84px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  color: #aaaaaa;
  margin: 10px 20px;
}
.cont__hero .hero__box button {
  padding: 8px 32px;
  width: 157px;
  height: 44px;
  background: #dcca87;
  font-family: "Cormorant Upright";
  font-weight: 700;
  font-size: 16px;
  margin: 20px 20px;
  color: #0c0b08;
}

.cont__nav {
  width: 1920px;
  height: 959px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(../../img/nav__bac.png);
  background-repeat: no-repeat;
  background-position: center center;
}
.cont__nav .img__pich {
  position: absolute;
}
.cont__nav .img__pich:hover {
  transform: scale(1.2);
  transition: all ease 0.8s;
}
.cont__nav .nav__left {
  width: 500px;
  height: 500px;
}
.cont__nav .nav__left h1 {
  margin: 80px 200px;
  width: 292px;
  height: 83px;
  font-family: "Cormorant Upright";
  font-weight: 600;
  font-size: 64px;
  text-align: right;
  color: #DCCA87;
}
.cont__nav .nav__left p {
  margin: 40px 70px;
  width: 423px;
  height: 84px;
  line-height: 175%;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  text-align: right;
  color: #AAAAAA;
}
.cont__nav .nav__left button {
  margin: 5px 330px;
  padding: 8px 32px;
  width: 161px;
  height: 44px;
  background: #DCCA87;
  font-family: "Cormorant Upright";
  font-weight: 700;
  font-size: 16px;
  color: #0C0C0C;
}
.cont__nav .nav__center {
  width: 400px;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cont__nav .nav__right {
  width: 600px;
  height: 500px;
}
.cont__nav .nav__right h1 {
  margin: 80px 0;
  width: 392px;
  height: 83px;
  font-family: "Cormorant Upright";
  font-weight: 600;
  font-size: 64px;
  text-align: left;
  color: #DCCA87;
}
.cont__nav .nav__right p {
  width: 423px;
  height: 84px;
  line-height: 175%;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  color: #AAAAAA;
}
.cont__nav .nav__right button {
  margin: 45px 0;
  padding: 8px 32px;
  width: 161px;
  height: 44px;
  background: #DCCA87;
  font-family: "Cormorant Upright";
  font-weight: 700;
  font-size: 16px;
  color: #0C0C0C;
}

.nav__card {
  width: 1920px;
  height: 1045px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-image: url(../../img/nav__bac.png);
}
.nav__card .nav__card__right {
  width: 700px;
  height: 800px;
}
.nav__card .nav__card__right h3 {
  font-family: "Cormorant Upright";
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  color: #ffffff;
  padding: 25px 0;
}
.nav__card .nav__card__right h1 {
  width: 523px;
  height: 83px;
  font-family: "Cormorant Upright";
  font-weight: 600;
  font-size: 64px;
  line-height: 130%;
  color: #dcca87;
  margin: 76px 0;
}
.nav__card .nav__card__right p {
  width: 570px;
  height: 84px;
  font-family: "Open Sans";
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #aaaaaa;
  margin: 64px 0;
}
.nav__card .nav__card__right h2 {
  width: 335px;
  height: 42px;
  font-family: "Cormorant Upright";
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  color: #dcca87;
}
.nav__card .nav__card__right h5 {
  width: 126px;
  height: 28px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #aaaaaa;
  margin: 8px 0;
}
.nav__card .nav__card__right .burama {
  margin: 64px 0;
}

.karam:hover {
  transform: scale(1.1);
  transition: all ease 0.8s;
}

.cont2 {
  width: 1920px;
  height: 763px;
  background-image: url(../../img/restorance.png);
}

.nav__cont3 {
  width: 1400px;
  height: 1084px;
  margin: 150px auto;
}
.nav__cont3 h1 {
  text-align: center;
  font-family: "Cormorant Upright";
  font-weight: 600;
  font-size: 64px;
  color: #dcca87;
}
.nav__cont3 .carding {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav__cont3 .carding .nav3__item1 {
  width: 430px;
  height: 534px;
  margin-left: 50px;
}
.nav__cont3 .carding .nav3__item1 ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav__cont3 .carding .nav3__item1 ul li {
  margin-top: 30px;
  color: white;
  list-style-type: none;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #fafafa;
}
.nav__cont3 .carding .nav3__item2 {
  width: 430px;
  height: 534px;
  margin-left: 50px;
}
.nav__cont3 .carding .nav3__item2 ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav__cont3 .carding .nav3__item2 ul li {
  margin-top: 30px;
  color: white;
  list-style-type: none;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #fafafa;
}
.nav__cont3 .carding .nav3__item3 {
  width: 430px;
  height: 534px;
  margin-left: 50px;
}
.nav__cont3 .carding .nav3__item3 ul {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.nav__cont3 .carding .nav3__item3 ul li {
  margin-top: 30px;
  color: white;
  list-style-type: none;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #fafafa;
}

.nav3__title1 {
  width: 430px;
  height: 470px;
  float: left;
  margin-left: 30px;
  position: relative;
}
.nav3__title1 h3 {
  width: 412px;
  height: 84px;
  font-family: "Cormorant Upright";
  font-weight: 400;
  font-size: 32px;
  line-height: 130%;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #DCCA87;
  margin: 45px 5px;
  cursor: pointer;
}
.nav3__title1 p {
  width: 412px;
  height: 84px;
  font-family: "Open Sans";
  font-weight: 400;
  font-size: 16px;
  line-height: 175%;
  color: #AAAAAA;
  margin: 25px 5px;
}
.nav3__title1 h5 {
  font-family: "Cormorant Upright";
  font-weight: 700;
  font-size: 16px;
  line-height: 175%;
  color: #DCCA87;
  margin: 45px 5px;
}

.image__nav {
  position: absolute;
  right: 400px;
}

.btn__view {
  font-family: "Cormorant Upright";
  font-weight: 700;
  font-size: 16px;
  color: #0C0C0C;
  align-items: center;
  padding: 8px 32px;
  width: 136px;
  height: 44px;
  background: #DCCA87;
  margin-left: 500px;
}

.secton1__cont {
  width: 1920px;
  height: 775px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  transition: all ease 0.8s;
}
.secton1__cont .qaychi {
  position: absolute;
  top: -30px;
  right: 150px;
  z-index: 1;
}
.secton1__cont .section1__box {
  width: 1364px;
  height: 466px;
  background: #0c0c0c;
  border: 1px solid rgba(220, 202, 135, 0.2);
  box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.7);
  text-align: center;
}
.secton1__cont .section1__box h3 {
  text-align: center;
  margin-top: 48px;
  font-family: "Cormorant Upright";
  font-weight: 700;
  font-size: 23px;
  line-height: 130%;
  text-transform: capitalize;
  color: #ffffff;
}
.secton1__cont .section1__box h1 {
  margin-top: 25px;
  font-family: "Cormorant Upright";
  font-weight: 600;
  font-size: 64px;
  line-height: 130%;
  text-align: center;
  text-transform: capitalize;
  color: #dcca87;
}
.secton1__cont .section1__box .section1__inp__block {
  margin-top: 50px;
  width: 1364px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.secton1__cont .section1__box .section1__inp__block .sel {
  width: 412px;
  height: 60px;
  border: 1px solid #f5efdb;
  background: none;
  color: white;
}
.secton1__cont .section1__box button {
  width: 133px;
  height: 44px;
  background: #dcca87;
  border: 1px solid #dcca87;
  margin-top: 54px;
  font-family: "Cormorant Upright";
  font-weight: 700;
  font-size: 16px;
}
.secton1__cont .section1__box:hover {
  transition: all ease 0.8s;
  transform: scale(1.1);
}

.sec2__cont {
  width: 1920px;
  height: 900px;
  position: relative;
  background-image: url(../../img/sec2bg.png);
  background-repeat: no-repeat;
}
.sec2__cont .pich2 {
  margin-top: -20px;
  margin-left: 300px;
}
.sec2__cont ul {
  width: 600px;
  height: 700px;
  margin-left: 300px;
  cursor: pointer;
}
.sec2__cont ul .sec2__item {
  font-family: "Cormorant Upright";
  font-weight: 600;
  font-size: 64px;
  list-style-type: none;
  line-height: 130%;
  letter-spacing: 0.03em;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #FFFFFF;
  padding: 64px 0;
  transition: all ease;
}
.sec2__cont ul .sec2__item:hover {
  color: aqua;
  transition: all ease;
}/*# sourceMappingURL=main.css.map */