*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container__father01{
    position: relative;
    height: 12093px;
    width: 1920px;
    background: #0C0B08;
    margin: 10px auto;
    overflow: hidden;
    background-image: url(../img/body.png);
    background-repeat: no-repeat;
    background-position: left -1049px,  top 1110.5px;
    
}